
@{
    ViewData["Title"] = "GestionIndex";
}

<div class="d-flex justify-content-center align-items-center">
    <h1 class="toast-header bg-light">Gestion</h1>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="InsertarProducto" asp-controller="Productos">Insertar producto</a>
    </li>
    <li class="list-group-item">
        <a asp-action="SeleccionarProducto" asp-controller="Productos">Editar producto</a>
    </li>
</ul>

