@model List<Categoria>

@foreach (Categoria cat in Model)
{
<li class="nav-item">
    <a class="nav-link" asp-controller="Productos"
       asp-action="TodosProductos"
       asp-route-idcategoria="@cat.IdCategoria">@cat.Nombre</a>
</li> 
}