@model LicoreriaCliente.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Registro";
}

<div class="d-flex justify-content-center align-items-center">
    <h1 class="toast-header bg-light">Registro</h1>
</div>

<hr />
<form asp-action="Registro" asp-controller="Identity" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger">@ViewData["MENSAJE"]</span>
    </div>
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfPassword" class="control-label"></label>
        <input asp-for="ConfPassword" class="form-control" />
        <span asp-validation-for="ConfPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Correo" class="control-label"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Direccion" class="control-label"></label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefono" class="control-label"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Registrar" class="btn btn-primary" />
    </div>
</form>