
@{
    ViewData["Title"] = "GestionIndex";
}

<h1>Gestion</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="InsertarProducto" asp-controller="Productos">Insertar producto</a>
    </li>
    <li class="list-group-item">
        <a asp-action="EditarProducto" asp-controller="Productos">Editar producto</a>
    </li>
</ul>

